@use "screen" as *;
@use '../config/variables' as *;

body {
    margin: 0 auto;

    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    @include screen-xxxl {
        width: $screen-xxl;
    }

    @include screen-xxl {
        width: $screen-xl;
    }

    @include screen-xl {
        width: $screen-lg;
    }

    @include screen-lg {
        width: $screen-md;
    }

    @include screen-md {
        width: $screen-sm;
    }

    @include screen-sm {
        width: 100vw;
    }

    @include screen-xs {
        width: 100vw;
    }
}

.content{
    height: 93vh;

    display: flex;
    flex-direction: column;

    background-color: map-get($map: $colors, $key: body-default);
}

section {
    padding: 40px 0;
}

.container{
    display: flex;

    &.flex{
        display: flex;
    }

    &.grid{
        display: grid;
    }
}

