@use "screen" as *;

body {
    margin: 0 auto;

    @include screen-xxxl {
        width: $screen-xxl;
    }

    @include screen-xxl {
        width: $screen-xl;
    }

    @include screen-xl {
        width: $screen-lg;
    }

    @include screen-lg {
        width: $screen-md;
    }

    @include screen-md {
        width: $screen-sm;
    }

    @include screen-sm {
        width: 100vw;
    }

    @include screen-xs {
        width: 100vw;
    }
}

.content{
    height: 98vh;
}

section {
    padding: 40px 0;
}

.container{
    display: flex;

    &.flex{
        display: flex;
    }

    &.grid{
        display: grid;
    }
}
