@use '../config/variables' as *;

header{
    display: flex;

    height: 7vh;
}

nav.nav-menu{
    display: flex;

    width: -webkit-fill-available;

    margin: 10px 0;
}

div.login-container{
    display: flex;
    align-items: center;
    justify-items: center;

    justify-content: space-between;

    width: 15%;

    margin: 10px 0;

    span{
        margin-right: 5px;

        text-overflow: ellipsis;
    }
}