@use '../config/variables' as *;

header{
    display: flex;
}

nav.nav-menu{
    display: flex;

    width: -webkit-fill-available;

    margin: 10px 0;
}

div.login-container{
    display: flex;
    align-items: center;

    width: 10%;

    margin: 10px 0;

    a{
        width: 100%;
    }

    span{
        margin-right: 5px;
    }
}