@use '../config/variables' as *;

div.review-list{
    display: flex;
    
    flex-direction: column;
}

div.review{
    display: grid;

    grid-template-columns: auto 10%;
    grid-template-rows: repeat(3, calc(100% / 3));

    align-items: flex-start;
    background-color: map-get($map: $colors, $key: button-default);
    
    margin: 10px 0;
    padding: 5px;
    
    width: -webkit-fill-available;

    h3{
        margin-top: unset;

        &.title{
            grid-column: 1;
            grid-row: 1;
        }
    }   

    span.comment_count{
        grid-column: 1;
        grid-row: 2;
    }

    span.creator{
        grid-column: 1;
        grid-row: 3;
    }

    a.destroy-review{
        grid-column: 2;
        grid-row: 1;
    }

    a.edit-review{
        grid-column: 2;
        grid-row: 2;
    }
}